body {
    position: relative;
}

/* Section
---------------------*/
.section {
    padding: 100px 0;
    position: relative;
    overflow: hidden;

    @include down-md {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include down-sm {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.bottom-ani {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Home Banner
---------------------*/
.home-banner {
    overflow: hidden;
    position: relative;

    .placeholder {
        text-align: left;
        top: 100px;
        padding-left: 5vh;
    }

    .min-vh-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .social-share {
        position: absolute;
        top: 0;
        bottom: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        right: 16px;
        z-index: 1;

        a {
            width: 30px;
            height: 30px;
            font-size: 15px;
            background: rgba($px-white, .06);
            text-align: center;
            line-height: 30px;
            margin: 5px;
            color: $px-white;
            border-radius: 3px;

            &:hover {
                background: $px-theme;
            }
        }
    }

    .home-avatar-box {
        padding: 40px;
        position: relative;

        @include down-sm {
            padding: 20px;
        }

        &:before {
            content: "";
            background-image: url(../../img/dots-effect.png);
            position: absolute;
            top: 0;
            left: -40px;
            right: 0;
            bottom: 0;
            background-position: left;
            background-size: cover;
            animation: spin 140s linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            width: 200vw;
            border: 20px solid $px-theme;
            border-radius: 310px;
            background: $px-dark;

            @include down-sm {
                border: 10px solid $px-theme;
            }
        }
    }

    .home-avatar-in {
        position: relative;
        border-radius: 50% 50% 0% 50%;
        border: 15px solid $px-white;
        overflow: hidden;
        z-index: 1;

        @include down-sm {
            border: 5px solid $px-white;
        }

        &:after {
            content: "";
            padding-bottom: 100%;
            display: inline-block;
            vertical-align: top;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .typo-box {
        padding-top: 50px;
        padding-bottom: 50px;

        h6 {
            font-size: 20px;
            color: $px-white;
            font-weight: 600;
            margin-bottom: 20px;

            @include down-sm {
                font-size: 16px;
            }
        }

        h1 {
            color: $px-white;
            font-size: 60px;
            font-weight: 700;
            position: relative;
            padding-bottom: 15px;
            margin: 0 0 20px;

            @include down-sm {
                font-size: 40px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 120px;
                height: 3px;
                background: $px-theme;
            }
        }

        h2 {
            color: $px-white;
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 20px;

            @include down-sm {
                font-size: 18px;
            }
        }

        p {
            font-size: 17px;
            color: rgba($px-white, 0.7);
            max-width: 500px;

            @include down-sm {
                font-size: 15px;
            }
        }

        .btn-bar {
            padding-top: 10px;
        }
    }
}



/* About 
---------------------*/
.about-row {
    margin-bottom: 30px;
    padding-left: 15px;

    .sm-title {
        margin-left: -15px;
    }

    .nav {
        span {
            font-size: 13px;
            border: 1px solid rgba($px-white, 0.1);
            padding: 5px 15px;
            border-radius: 40px;
            margin: 0 5px 5px 0;

            &:hover {
                border-color: rgba($px-white, 0.3);
            }
        }
    }
}

.about-text {
    h6 {
        font-weight: 500;
        color: rgba($px-white, 0.8);
        font-size: 16px;

        span {
            border-bottom: 2px solid rgba($px-white, 0.2);
        }
    }
}


.progress-text {
    span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: $px-theme;
        color: $px-white;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
    }

    label {
        margin: 0;
    }
}

/* Services
---------------------*/

.hexagon {
    background-color: $px-theme;
    border-radius: 10px;
    width: 100px;
    height: 63px;
    transition: all 1s;
    position: relative;

    &:before,
    &:after {
        content: "";
        border: inherit;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $px-theme;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        pointer-events: none;
    }

    &:before {
        transform: rotate(60deg);
    }

    &:after {
        transform: rotate(-60deg);
    }
}



.feature-box-1 {
    padding: 0 15% 30px;
    background: rgba($px-white, .05);
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;
    border: 3px solid transparent;
    transition: ease all 0.35s;

    .icon {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto 30px;
        top: -20px;
        transition: ease all 0.35s;

        i {
            position: relative;
            z-index: 1;
            font-size: 40px;
            line-height: 1;
            color: $px-white;
        }
    }

    h5 {
        font-weight: 500;
        font-size: 18px;
        color: $px-white;
        margin-bottom: 10px;
    }

    &:hover {
        border-color: $px-theme;

        .icon {
            top: -15px;
        }
    }
}

/* Resume
---------------------*/
.resume-box {
    ul {
        margin: 0;
        padding: 0;

    }

    li {
        padding: 20px 30px;
        margin: 0;
        background: rgba($px-white, .05);
        border-radius: 7px;
        border: 2px solid transparent;
        transition: ease all 0.35s;

        &:hover {
            border-color: $px-theme;
        }

        +li {
            margin-top: 30px;
        }

        h6 {
            background: rgba($px-white, .1);
            display: inline-block;
            font-size: 13px;
            position: relative;
            padding: 8px 14px;
            border-radius: 20px;
            color: $px-white;
        }

        h5 {
            font-weight: 600;
            font-size: 16px;
            color: $px-white;
        }

        p {
            font-size: 14px;
            margin-bottom: 5px;
        }

        span {
            font-size: 12px;
        }
    }
}


/* Portfolio
---------------------*/
.portfolio-box {
    position: relative;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    .p-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: $px-theme;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        color: $px-white;
        line-height: 1;
        transition: ease all 0.35s;

        &:hover {
            background: $px-dark;
        }
    }

    .portfolio-img {
        position: relative;
    }

    .portfolio-info {
        background: rgba($px-white, .05);
        padding: 20px;

        h2 {
            font-size: 18px;
            color: $px-white;
            font-weight: 600;
        }

        p {}

        .nav {
            span {
                font-size: 12px;
                border: 1px solid rgba($px-white, 0.1);
                padding: 5px 15px;
                border-radius: 40px;
                margin: 0 5px 5px 0;

                &:hover {
                    border-color: rgba($px-white, 0.3);
                }
            }
        }
    }
}


/* Testimonial
---------------------*/
.testimonial-col {
    background: rgba($px-white, .05);
    padding: 8%;
    border-radius: 10px;
    margin-bottom: 30px;

    .img {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
    }

    .col {
        padding-left: 20px;
    }

    .tc-info {
        padding-top: 14px;

        h6 {
            color: $px-white;
            font-size: 16px;
            margin: 0;
        }

        span {
            font-size: 11px;
        }
    }

    p {
        margin: 0;
        color: $px-white;
    }
}

/* Contact Us
---------------------*/

.contact-info {
    background: rgba($px-white, .05);
    padding: 20px;
    border-radius: 10px;

    .contact-name {
        padding-left: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }

    .sm-title {
        margin-left: -15px;
        margin-bottom: 10px;

        h3 {
            font-size: 15px;
        }
    }

    .social-share {
        padding-left: 15px;

        a {
            color: $px-white;
            font-size: 20px;
            margin-right: 10px;

            &:hover {
                color: $px-theme;
            }
        }
    }
}

.contact-form {
    background: rgba($px-white, .05);
    padding: 30px;
    border-radius: 10px;

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        color: $px-white;
        background: transparent;
        border: 1px solid rgba($px-white, 0.2);
        border-radius: 3px;
        box-shadow: none;
        font-size: 15px;
    }
}